.projects__item {
  padding-bottom: 100%;
  position: relative;
}

.projects__item::before {
  content: "";
  background: url(../../../images/overlay-icon.svg) no-repeat center;
  background-color: rgba(52, 84, 122, .8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.projects__item:hover::before {
  display: block;
}
