.header__navigation-link {
  display: inline-block;
  color: #000;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: color .3s ease;
}

.header__navigation-link:hover {
  color: #34547A;
}
